
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>





<mat-drawer-container class="menu-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
    <mat-list-item role="listitem"> <a routerLink="/homepage" routerLinkActive="active" ariaCurrentWhenActive="page">Homepage</a> </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem"> <a routerLink="/jeunesse" routerLinkActive="active" ariaCurrentWhenActive="page">Jeunesse</a> </mat-list-item>
  </mat-list></mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

