.example-section {
    margin: 12px 0;
    height: 100%;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .normal-column {
    width: 25%;
  }
  .select-column {
    width: 15%; /* Adjust the width to your preference */
    justify-content: space-between; 
    text-align: right; /* Center the checkbox */
    padding: 0; /* Remove padding for more compact styling */
  }
  
  .button-container {
    display: flex;
    margin-left: auto; /* Push the button to the right */
    justify-content: flex-end;
  }
  
  .form-nom{
    width: 25%;
  }