<div>
    <div class="profile-header">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h3>
            Profile de {{jeuneData.firstName }} {{jeuneData.lastName}}
        </h3>
        <span class="spacer"></span>
        <button mat-button (click)="toggleEditMode()">
            <mat-icon>edit</mat-icon>
            <span *ngIf="!editMode">Editer</span>
            <span *ngIf="editMode">Annuler</span>
        </button>
        <button mat-button (click)="saveData()" >
            <span *ngIf="editMode">Sauvegarder</span>
        </button>
    </div>
    <div class="profile-content">

        <div [formGroup]="form" >
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="mobile" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fixe</mat-label>
                <input matInput formControlName="fixe" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mail</mat-label>
                <input matInput formControlName="mail" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="adresse" required>
            </mat-form-field>
            <p>Entered value: {{form.valueChanges | async | json}}</p>
        </div>

    </div>
</div>